body 
{background-color: #CEECF5;
width: 800px;
margin: auto;
font-family: courier}

table, th, td
{border: black solid 1px;
border-spacing:0px;
width: 60%;
margin: auto;}

th, td
{padding: 5px}

th 
{border: black solid 1px;}

td
{border: black solid 1px;
background-color: #FFFFFF;}

tr:nth-child(even) 
{background-color: #D6EEEE;}
